:root {
  --color-background: #2b4074;
  --color-surface: #f9f6e5;
  --color-caption: #797979;
  --color-empty: #ffffff00;
  --color-labels: #4a4a4a;
  --color-caption-extra: #9b9b9b;
}

.text-white {
  color: white;
}

.text-background {
  color: var(--color-background);
}

.text-caption-extra {
  color: var(--color-caption-extra);
}

.text-service-label {
  color: var(--color-labels);
}

.text-service-description {
  color: var(--color-caption-extra);
}

.text-surface {
  color: var(--color-surface);
}

.bg-background {
  background-color: var(--color-background);
}

.bg-surface {
  background-color: var(--color-surface);
}

.bg-white {
  background-color: white;
}

.text-display-large {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-display-medium {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
}

.text-display-small {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
}

.text-display-micro {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
}

.text-title {
  font-family: Roboto Condensed;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.text-body-large {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.text-body-medium {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.text-body-small {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.text-label-bold {
  font-family: Roboto Condensed;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2px;
  text-align: center;
}

.text-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: bottom;
  text-transform: uppercase;
}

.text-caption {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.text-note {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

.text-description {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: bottom;
}

header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.site-logo {
  margin-left: 153px;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  border-width: none;
  border-radius: 3px;
  margin-right: 135px;
}

.menu-button > img {
  width: 12px;
  height: 10px;
}

.slider-img1 {
  background-image: url("../assets/images/slider-earth.jpg");
  background-position: -10px -512px;
  height: 668px;
  background-color: rgba(33, 33, 33, 0.5);
  background-blend-mode: multiply;
}

.call-me-back-section {
  padding: 57px 135px 57px 150px;
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call-me-back-section > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 796px;
}

.call-me-back-section > div > p {
  margin: 0;
  height: 42px;
  vertical-align: bottom;
}

.call-me-back-section > div > h3 {
  margin: 0;
}

.call-me-back-button {
  padding: 16px 9px;
  border: none;
  border-radius: 3px;
  height: fit-content;
}

.service-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.service-section > .service-text {
  max-width: 393px;
  margin: 90px 60px 0px 62px;
}

.service-section > div > h2 {
  line-height: 56px;
  margin-bottom: 64px;
  margin-top: 0;
}

.service-section > div > h3 {
  line-height: 30px;
  color: var(--color-labels);
  margin: 0 0 30px 0;
}

.service-section > div > p {
  margin: 35px 0 0 0;
  color: var(--color-caption);
}

.service-section-grid {
  display: grid;
  width: 924px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 273px);
}

.service-section-grid > .element-wrapper {
  padding: 10px;
  border: solid 1px (var(--color-surface));
  height: 100%;
  box-sizing: border-box;
}

.service-section-grid > .element-wrapper > .element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 4px var(--color-empty);
  height: 100%;
  max-height: 273px;
}

.service-section-grid > .element-wrapper:hover > .element {
  border-color: var(--color-background);
}

.service-section-grid > .element-wrapper > .element > h4 {
  margin-top: 28px;
  text-transform: uppercase;
}

.service-section-grid > .element-wrapper:hover > .element > h4 {
  margin-bottom: 21px;
}

.service-section-grid > .element-wrapper > .element > span {
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: center;
  display: none;
}

.service-section-grid > .element-wrapper:hover > .element > span {
  display: flex;
}

.our-projects-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);
  padding: 80px 0 80px 0;
  gap: 80px;
}

.our-projects-section > .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.our-projects-section > .title > h2 {
  line-height: 52px;
}

.our-projects-section > div > h2 {
  vertical-align: bottom;
}

.our-projects-grid-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}
.our-projects-grid-section > div {
  position: relative;
}
.our-projects-grid-section > div > .image-container:hover > .about-hover {
  --padding-value: 12px;
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--padding-value);
  width: calc(100% - (var(--padding-value) * 2));
  height: calc(100% - (var(--padding-value) * 2));
  background-color: var(--color-surface);
  border-radius: 4px;
  opacity: 83.5%;
}

.our-projects-grid-section > div > .image-container > .about-hover {
  display: none;
}

.our-projects-grid-section > div > .image-container > .about-hover > div {
  display: flex;
  gap: 4px;
}

.our-projects-grid-section > div > .image-container {
  width: 268px;
  height: 239px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}

.our-projects-grid-section > div > p {
  margin: 0;
  vertical-align: bottom;
  line-height: 100%;
  margin-top: 39px;
}

.team-section {
  padding: 80px 0 80px 150px;
}

.team-section > div {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.team-section > div > img {
  border-radius: 4px;
}

.team-text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-text-section > div > h2 {
  margin-bottom: 30px;
  line-height: 52px;
  vertical-align: bottom;
  color: var(--color-labels);
}

.separator {
  margin: 0;
  padding: 0;
  border: 0;
  height: 8px;
  width: 100px;
}

.team-text-section > p {
  max-width: 506px;
}

.team-text-section > button {
  padding: 21px 41px 21px 35px;
  width: fit-content;
  border-radius: 4px;
  border: 0;
}

.last-news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px 135px 80px 153px;
  gap: 115px;
}

.last-news-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.last-news-section > div > h2 {
  line-height: 56px;
  letter-spacing: 0px;
  vertical-align: bottom;
}

.last-news-section > .grid {
  width: 100%;
  display: block;
}

.last-news-section > ul > li {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  float: left;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.last-news-section > ul > li:hover {
  padding-bottom: 30px;
}

.last-news-section > ul > li::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(107, 176, 113, 1);
  mix-blend-mode: luminosity;
  opacity: 0.1;
  z-index: 5;
}

.last-news-section > ul > li::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(43, 64, 116, 1);
  mix-blend-mode: soft-light;
  /* opacity: 0.9; */
  z-index: 5;
}

.last-news-section > ul > li > article > img {
  position: absolute;
  object-fit: cover;
  z-index: 2;
}

.last-news-section > ul > li > article > p {
  position: relative;
  z-index: 6;
  padding: 8px 0px 10px 20px;
  background-color: white;
  text-align: start;
}

.last-news-section > ul > li > .overlay {
  display: none;
  position: absolute;
  inset: 0;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.last-news-section > ul > li:hover > .overlay {
  display: flex;
  border: 10px solid var(--color-background);
}

.last-news-section > ul > li:hover > article > p {
  background-color: var(--color-background);
  color: var(--color-surface);
  z-index: 4;
}

.last-news-section > ul > li:hover > .overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-background);
  opacity: 0.3;
  z-index: 3;
}

.last-news-section > ul > li:hover > .overlay > svg {
  position: relative;
  z-index: 4;
}

.last-news-section > ul > li#last-news-1 {
  width: 270px;
  height: 444px;
}

.last-news-section > ul > li#context-ads-2 {
  width: 270px;
  height: 342px;
}

.last-news-section > ul > li#graphics-deer-3 {
  width: 268px;
  height: 383px;
}

.last-news-section > ul > li#corporate-culture-4 {
  width: 253px;
  height: 210px;
}

.last-news-section > ul > li#unique-design-5 {
  width: 270px;
  height: 197px;
}

.last-news-section > ul > li#look-from-side-6 {
  width: 270px;
  height: 342px;
}

.last-news-section > ul > li#social-media-7 {
  width: 270px;
  height: 218px;
}

.last-news-section > ul > li#exclusive-8 {
  width: 253px;
  height: 436px;
}

.quote-section {
  padding: 80px 0px;
  background-color: var(white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-section > div.owl-carousel > div.owl-nav {
  display: none;
}

.quote-section
  > div.owl-carousel
  > div.owl-stage-outer
  > ul.owl-stage
  > li::marker {
  content: none;
}

.quote-section .quote-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 80px;
}

.quote-section .quote-icon {
  margin-top: 12px;
}

.quote-section .quote {
  vertical-align: bottom;
  text-align: center;
  padding-top: 36px;
}

.quote-section blockquote {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}

.quote-section .quote span {
  font-weight: 700;
}

.quote-section cite {
  font-style: normal;
  font-size: 24px;
}

.owl-dot span {
  background: var(--color-background) !important;
  margin: 0 5px !important;
}

.owl-dot.active span {
  background: var(--color-empty) !important;
  border: 1px solid #476e4d;
  box-sizing: border-box;
}

.footer-block {
  margin-top: 47px;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-block .site-logo {
  padding: 0px 73px 5px 74px;
  background-color: var(--color-background);
  border-radius: 3px;
  transform: translate(0, -50%);
  margin: 0;
}
